<html>
    <head>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
    </head>
    
    <body>
        
        <div class="card">
            <div class="card-title">Your Instructor</div>
            <div class="card-circle">VG</div>
            <div class="card-name">
                <div class="light-font">Victor</div>
                <div>Gonzalez</div>
            </div>
            <div class="card-company">Coder's Tape</div>
        </div>
        
    </body>
</html>
