<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="../styles.css">
    </head>
    <body>
        <div id="jame">
            <h1>Contact Form</h1>
            <p class="fontError"> {{error}} </p>
            <form method="post" action="#">
                <div>
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" v-model="form.name">
                    <p class="fontError"> {{validateName}} </p>
                </div>
                <div>
                    <label for="Sex">Sex:</label>
                    <input type="radio" name="like" id="like">male
                    <input type="radio" name="like" id="don'tlike">female
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email" v-model="form.email">
                    <p class="fontError"> {{validateEmail}} </p>
                </div>
                <div>
                    <label for="message">Messages:</label>
                    <textarea name="message" id="message" v-model="form.message"></textarea>
                    <p class="fontError"> {{validateMessage}} </p>
                </div>
                <button @click.prevent="validateForm">Submit</button>
            </form>
            <h2>From Details</h2>
            <p><strong>Name:</strong> {{form.name}} </p>
            <p><strong>Email:</strong> {{form.email}} </p>
            <p><strong>Messages:</strong> {{form.message}} </p>
        </div>
        <script>
            var app = new Vue ({
                el: '#jame',
                data: {
                    form: {
                        name: '',
                        email: '',
                        message: '',
                    },
                    error: '',
                },
                methods: {
                    validateForm: function() {
                        if(this.form.name.length && this.form.email.length 
                        && this.form.message.length)
                            return this.error = 'Sent Form'
                        return this.error = 'Invalid Form'
                    }
                },
                computed: {
                    validateName: function() {
                        if(!this.form.name.length && this.error)
                            return 'Name field is Requird!'
                    },
                    validateEmail: function() {
                        if(!this.form.email.length && this.error)
                            return 'Email field is Requird!'
                    },
                    validateMessage: function() {
                        if(!this.form.message.length && this.error)
                            return 'Message field is Requird!'
                    }
                }
            });
        </script>
    </body>
</html>